<body>
   <main id="main" class="main">
      <section class="section">
         <div class="row">
            <div class="col-lg-12">
               <div class="card">
                  <div class="card-body">
                     <h5 class="card-title">About MotoDev</h5>
                     <!-- Improved compatibility of back to top link: See: https://github.com/othneildrew/Best-README-Template/pull/73 -->
                     <p><a id="readme-top"></a>
                     <p><a href="https://www.linkedin.com/in/radoslav-georgiev-b53761194"><img
                              src="https://img.shields.io/badge/-LinkedIn-black.svg?style=for-the-badge&amp;logo=linkedin&amp;colorB=555"
                              alt="LinkedIn"></a></p>
                     <!-- PROJECT LOGO -->
                     <p><br /></p>
                     <div align="center">
                        <a href="https://github.com/othneildrew/Best-README-Template">
                           <img
                              src="https://res.cloudinary.com/scmanager/image/upload/v1723813006/favicon_g8sndw.png" />
                        </a>
                        <h3 align="center">MotoDev</h3>
                        <p align="center">
                           A car repairs shop software
                           <br />
                           <a href="https://github.com/rz-georgiev/MotoDev"><strong>Explore the docs »</strong></a>
                           <br />
                           <br />
                        </p>
                     </div>
                     <div class="accordion" id="accordionExample">
                        <div class="accordion-item">
                           <h2 class="accordion-header" id="headingOne">
                              <button class="accordion-button" type="button" data-bs-toggle="collapse"
                                 data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                 About
                              </button>
                           </h2>
                           <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne"
                              data-bs-parent="#accordionExample">
                              <div class="accordion-body">
                                 <!-- ABOUT THE PROJECT -->
                                 <h2 id="about-the-project">About The Project</h2>
                                 <p>MotoDev is a car repair shops management system, used for storing employees, clients
                                    and car
                                    repairs data.
                                    It is created after watching SoftUni&#39;s Angular and other tutorials to gain more
                                    skills in
                                    Angular, .NET &amp; MySql /especially Angular/
                                 </p>
                                 <h3 id="you-can-directly-browse-and-test-the-app-on">You can directly browse and test
                                    the app on
                                 </h3>
                                 <ul>
                                    <li>Url: <a href="http://motodev.space/">http://motodev.space/</a></li>
                                    <li>Username: owner.owner&#64;gmail.com</li>
                                    <li>Password: !Motodev1</li>
                                 </ul>
                              </div>
                           </div>
                        </div>
                        <div class="accordion-item">
                           <h2 class="accordion-header" id="headingTwo">
                              <button class="accordion-button" type="button" data-bs-toggle="collapse"
                                 data-bs-target="#collapseTwo" aria-expanded="true" aria-controls="collapseTwo">
                                 Technologies Used
                              </button>
                           </h2>
                           <div id="collapseTwo" class="accordion-collapse collapse hide" aria-labelledby="headingTwo"
                              data-bs-parent="#accordionExample">
                              <div class="accordion-body">
                                 <!-- ABOUT THE PROJECT -->
                                 <h2 id="built-with">Built With</h2>
                                 <ul>
                                    <li><a href="https://learn.microsoft.com/en-us/dotnet/csharp/"><img
                                             src="https://img.shields.io/badge/c%23-%23239120.svg?style=for-the-badge&amp;logo=csharp&amp;logoColor=white"
                                             alt="C#"></a></li>
                                    <li><a href="https://dotnet.microsoft.com/en-us/"><img
                                             src="https://img.shields.io/badge/.NET-5C2D91?style=for-the-badge&amp;logo=.net&amp;logoColor=white"
                                             alt=".NET"></a></li>
                                    <li><a href="https://angular.io/"><img
                                             src="https://img.shields.io/badge/Angular-DD0031?style=for-the-badge&amp;logo=angular&amp;logoColor=white"
                                             alt="Angular"></a></li>
                                    <li><a href="https://www.mysql.com/"><img
                                             src="https://img.shields.io/badge/mysql-4479A1.svg?style=for-the-badge&amp;logo=mysql&amp;logoColor=white"
                                             alt="MySQL"></a></li>
                                    <li><a href="https://getbootstrap.com"><img
                                             src="https://img.shields.io/badge/Bootstrap-563D7C?style=for-the-badge&amp;logo=bootstrap&amp;logoColor=white"
                                             alt="Bootstrap"></a></li>
                                 </ul>
                                 <h4 id="plain-text-description">Plain text description</h4>
                                 <ul>
                                    <li>C#/.NET</li>
                                    <li>Angular</li>
                                    <li>MySQL</li>
                                    <li>Bootstrap - Nice Admin template</li>
                                    <li>Material UI for the data tables</li>
                                    <li>NG-ApexCharts for the dashboard screen </li>
                                 </ul>
                              </div>
                           </div>
                        </div>
                        <div class="accordion-item">
                           <h2 class="accordion-header" id="headingOne">
                              <button class="accordion-button" type="button" data-bs-toggle="collapse"
                                 data-bs-target="#collapseThree" aria-expanded="true" aria-controls="collapseThree">
                                 Setup
                              </button>
                           </h2>
                           <div id="collapseThree" class="accordion-collapse collapse hide" aria-labelledby="headingOn"
                              data-bs-parent="#accordionExample">
                              <div class="accordion-body">
                                 <h2 id="getting-started">Getting Started</h2>
                                 <p>This is an example of how you may give instructions on setting up your project
                                    locally.
                                    To get a local copy up and running follow these simple example steps.
                                 </p>
                                 <h3 id="prerequisites">Prerequisites</h3>
                                 <p>This is an example of how to list things you need to use the software and how to
                                    install them.
                                 </p>
                                 <ul>
                                    <li>
                                       npm
                                       <pre><code class="lang-sh"><span class="hljs-built_in">npm</span> install <span class="hljs-built_in">npm</span>&#64;latest -g
                                          </code></pre>
                                    </li>
                                 </ul>
                                 <h3 id="installation">Installation</h3>
                                 <p><em>Below is an example of how you can instruct your audience on installing and
                                       setting up your
                                       app. This template doesn&#39;t rely on any external dependencies or
                                       services.</em>
                                 </p>
                                 <ol>
                                    <li>
                                       Clone the repo
                                       <pre><code class="lang-sh">git <span class="hljs-keyword">clone</span> <span class="hljs-title">https</span>://github.com/rz-georgiev/MotoDev.git
                                          </code></pre>
                                    </li>
                                    <li>
                                       <p>Install NPM packages</p>
                                       <pre><code class="lang-sh">npm <span class="hljs-keyword">install</span>
                                          </code></pre>
                                    </li>
                                    <li>
                                       <p>Setup a local mysql server</p>
                                    </li>
                                    <li>
                                       <p>Configure your API in <code>appsettings.json</code>, by filling blank
                                          properties inside
                                       </p>
                                    </li>
                                    <li>
                                       <p>Run &quot;update-database&quot; in your MotoDev.Infrastructure project</p>
                                    </li>
                                    <li>
                                       <p>Startup MotoDev.Api</p>
                                       <pre><code class="lang-sh">Get your localhost address <span class="hljs-keyword">and</span> <span class="hljs-built_in">replace</span> <span class="hljs-keyword">it</span> <span class="hljs-keyword">in</span> MotoDev.Client -&gt; Urls.ts <span class="hljs-built_in">file</span>
                                           Also <span class="hljs-built_in">set</span> <span class="hljs-keyword">the</span> IsInProd bool <span class="hljs-built_in">to</span> <span class="hljs-literal">false</span> <span class="hljs-keyword">or</span> <span class="hljs-literal">true</span>, depending <span class="hljs-keyword">on</span> <span class="hljs-title">your</span> <span class="hljs-title">environment</span> <span class="hljs-title">purposes</span>
                                           </code></pre>
                                    </li>
                                    <li>
                                       <p>Startup your MotoDev.Client project using VSCode for example</p>
                                       <pre><code class="lang-sh">Get your localhost address <span class="hljs-keyword">and</span> <span class="hljs-built_in">replace</span> <span class="hljs-keyword">it</span> <span class="hljs-keyword">in</span> MotoDev.Client -&gt; Urls.ts <span class="hljs-built_in">file</span>
                                          Also <span class="hljs-built_in">set</span> <span class="hljs-keyword">the</span> IsInProd bool <span class="hljs-built_in">to</span> <span class="hljs-literal">false</span> <span class="hljs-keyword">or</span> <span class="hljs-literal">true</span>, depending <span class="hljs-keyword">on</span> <span class="hljs-title">your</span> <span class="hljs-title">environment</span> <span class="hljs-title">purposes</span>
                                          </code></pre>
                                    </li>
                                 </ol>
                              </div>
                           </div>
                        </div>
                        <div class="accordion-item">
                           <h2 class="accordion-header" id="headingOne">
                              <button class="accordion-button" type="button" data-bs-toggle="collapse"
                                 data-bs-target="#collapseFour" aria-expanded="true" aria-controls="collapseFour">
                                 License
                              </button>
                           </h2>
                           <div id="collapseFour" class="accordion-collapse collapse hide" aria-labelledby="headingOne"
                              data-bs-parent="#accordionExample">
                              <div class="accordion-body">
                                 <!-- LICENSE -->
                                 <h2 id="license">License</h2>
                                 <p>Distributed under the Creative Commons Attribution-NonCommercial (CC BY-NC) 4.0. See
                                    <code>LICENSE.txt</code> for more information.
                                 </p>
                              </div>
                           </div>
                        </div>
                        <div class="accordion-item">
                           <h2 class="accordion-header" id="headingOne">
                              <button class="accordion-button" type="button" data-bs-toggle="collapse"
                                 data-bs-target="#collapseFive" aria-expanded="true" aria-controls="collapseFive">
                                 Contact
                              </button>
                           </h2>
                           <div id="collapseFive" class="accordion-collapse collapse hide" aria-labelledby="headingOne"
                              data-bs-parent="#accordionExample">
                              <div class="accordion-body">
                                 <h2 id="contact">Contact</h2>
                                 <p>Website - <a href="http://radogeorgiev.space/">http://radogeorgiev.space/</a></p>
                                 <p>LinkedIn: <a
                                       href="https://www.linkedin.com/in/radoslav-georgiev-b53761194/">https://www.linkedin.com/in/radoslav-georgiev-b53761194/</a>
                                 </p>
                              </div>
                           </div>
                        </div>
                        <div class="accordion-item">
                           <h2 class="accordion-header" id="headingOne">
                              <button class="accordion-button" type="button" data-bs-toggle="collapse"
                                 data-bs-target="#collapseSix" aria-expanded="false" aria-controls="collapseSix">
                                 Acknowledgments
                              </button>
                           </h2>
                           <div id="collapseSix" class="accordion-collapse collapse hide" aria-labelledby="headingOne"
                              data-bs-parent="#accordionExample">
                              <div class="accordion-body">
                                 <!-- ACKNOWLEDGMENTS -->
                                 <h2 id="acknowledgments">Acknowledgments</h2>
                                 <ul>
                                    <li><a href="https://softuni.bg/">SoftUni training</a></li>
                                    <li><a href="https://github.com/hacktheme/Nice-Admin">Nice Admin Template</a></li>
                                 </ul>
                              </div>
                           </div>
                        </div>
                     </div>
                     <!-- MARKDOWN LINKS & IMAGES -->
                     <!-- https://www.markdownguide.org/basic-syntax/#reference-style-links -->
                  </div>
               </div>
            </div>
         </div>
      </section>
   </main>
</body>