<body>
    <main id="main" class="main">
       <section class="section">
          <div class="row">
             <div class="col-lg-12">
                <div class="card">
                   <div class="card-body">
                      <h5 class="card-title">About MotoDev</h5>
                      <div class="accordion accordion-flush" id="faq-group-1">
                         <div class="accordion-item">
                            <h2 class="accordion-header">
                               <button class="accordion-button collapsed" data-bs-target="#faqsOne-1"
                                  type="button" data-bs-toggle="collapse">
                               About the project
                               </button>
                            </h2>
                            <div id="faqsOne-1" class="accordion-collapse collapse"
                               data-bs-parent="#faq-group-1">
                               <div class="accordion-body">
                                  There are many great README templates available on GitHub; however, I didn't
                                  find one that really suited my needs so I created this enhanced one. I want
                                  to create a README template so amazing that it'll be the last one you ever
                                  need -- I think this is it.
                                  Here's why:
                                  Your time should be focused on creating something amazing. A project that
                                  solves a problem and helps others
                                  You shouldn't be doing the same tasks over and over like creating a README
                                  from scratch
                                  You should implement DRY principles to the rest of your life 😄
                                  Of course, no one template will serve all projects since your needs may be
                                  different. So I'll be adding more in the near future. You may also suggest
                                  changes by forking this repo and creating a pull request or opening an
                                  issue. Thanks to all the people have contributed to expanding this template!
                                  Use the BLANK_README.md to get started.
                               </div>
                            </div>
                         </div>
                         <div class="accordion-item">
                            <h2 class="accordion-header">
                               <button class="accordion-button collapsed" data-bs-target="#faqsOne-2"
                                  type="button" data-bs-toggle="collapse">
                               Getting Started
                               </button>
                            </h2>
                            <div id="faqsOne-2" class="accordion-collapse collapse"
                               data-bs-parent="#faq-group-2">
                               <div class="accordion-body">
                                  <h2 id="getting-started">Getting Started</h2>
                                  <p>This is an example of how you may give instructions on setting up your
                                     project locally.<br>
                                     To get a local copy up and running follow these simple example steps.
                                  </p>
                                  <h3 id="prerequisites">Prerequisites</h3>
                                  <p>This is an example of how to list things you need to use the software and
                                     how to install them.
                                  </p>
                                  <ul>
                                     <li>
                                        npm
                                        <pre class=" language-sh"><code class="prism  language-sh">npm install npm latest -g
                                        </code></pre>
                                     </li>
                                  </ul>
                                  <h3 id="installation">Installation</h3>
                                  <p><em>Below is an example of how you can instruct your audience on
                                     installing and setting up your app. This template doesn’t rely on
                                     any external dependencies or services.</em>
                                  </p>
                                  <ol>
                                     <li>
                                        Clone the repo
                                        <pre class=" language-sh"><code class="prism  language-sh">git clone https://github.com/github_username/repo_name.git
 </code></pre>
                                     </li>
                                     <li>
                                        Install NPM packages
                                        <pre class=" language-sh"><code class="prism  language-sh">npm install
 </code></pre>
                                     </li>
                                     <li>
                                        Enter your API in <code>config.js</code>
                                        <pre class=" language-js"><code class="prism  language-js"><span class="token keyword">const</span> API_KEY <span class="token operator">=</span> <span class="token string">'ENTER YOUR API'</span><span class="token punctuation">;</span>
 </code></pre>
                                     </li>
                                     <li>
                                        Change git remote url to avoid accidental pushes to base project
                                        <pre class=" language-sh"><code class="prism  language-sh">git remote set-url origin github_username/repo_name
 git remote -v # confirm the changes
 </code></pre>
                                     </li>
                                  </ol>
                                  <p align="right">(<a href="#readme-top">back to top</a>)</p>
                               </div>
                            </div>
                         </div>
                         <div class="accordion-item">
                            <h2 class="accordion-header">
                               <button class="accordion-button collapsed" data-bs-target="#faqsOne-3"
                                  type="button" data-bs-toggle="collapse">
                               Usage
                               </button>
                            </h2>
                            <div id="faqsOne-3" class="accordion-collapse collapse"
                               data-bs-parent="#faq-group-3">
                               <div class="accordion-body">
                                  Use this space to show useful examples of how a project can be used.
                                  Additional screenshots, code examples and demos work well in this space. You
                                  may also link to more resources.
                                  For more examples, please refer to the Documentation
                               </div>
                            </div>
                         </div>
                         <div class="accordion-item">
                            <h2 class="accordion-header">
                               <button class="accordion-button collapsed" data-bs-target="#faqsOne-4"
                                  type="button" data-bs-toggle="collapse">
                               License
                               </button>
                            </h2>
                            <div id="faqsOne-4" class="accordion-collapse collapse"
                               data-bs-parent="#faq-group-4">
                               <div class="accordion-body">
                                  Distributed under the Creative Commons Attribution-NonCommercial (CC BY-NC)
                                  4.0. See LICENSE.txt for more information.
                               </div>
                            </div>
                         </div>
                         <div class="accordion-item">
                            <h2 class="accordion-header">
                               <button class="accordion-button collapsed" data-bs-target="#faqsOne-5"
                                  type="button" data-bs-toggle="collapse">
                               Contact
                               </button>
                            </h2>
                            <div id="faqsOne-5" class="accordion-collapse collapse"
                               data-bs-parent="#faq-group-5">
                               <div class="accordion-body">
                                  Website - http://radogeorgiev.online/
                                  LinkedIn: https://www.linkedin.com/in/radoslav-georgiev-b53761194/
                               </div>
                            </div>
                         </div>
                         <div class="accordion-item">
                            <h2 class="accordion-header">
                               <button class="accordion-button collapsed" data-bs-target="#faqsOne-6"
                                  type="button" data-bs-toggle="collapse">
                               Acknowledgments
                               </button>
                            </h2>
                            <div id="faqsOne-6" class="accordion-collapse collapse"
                               data-bs-parent="#faq-group-6">
                               <div class="accordion-body">
                                  SoftUni training
                                  Nice Admin Template
                               </div>
                            </div>
                         </div>
                      </div>
                   </div>
                </div>
             </div>
          </div>
       </section>
    </main>
 </body>