{
  "Logging": {
    "LogLevel": {
      "Default": "Information",
      "Microsoft.AspNetCore": "Warning"
    }
  },
  "ConnectionStrings": {
    "MotoDev": ""
  },
  "Jwt": {
    "Issuer": "",
    "Audience": "",
    "Key": ""
  },
  "EmailSender": {
    "From": "",
    "Password": "",
    "Host": ""
  },
  "Cloudinary": {
    "CloudName": "",
    "ApiKey": "",
    "ApiSecret": ""
  },
  "DefaultUserImageUrl": "",
  "AllowedHosts": "*"
}
