<h2 mat-dialog-title class="mat-dialog-title-custom">MotoDev Info</h2>
<mat-dialog-content>
    <div class="section">
        <h2>1. Introduction</h2>
        <p>Welcome to MotoDev. These terms and conditions outline the rules and regulations for the use of MotoDev's Website, located at <a href="http://motodev.space/">http://motodev.space/</a>. By accessing this website, we assume you accept these terms and conditions. Do not continue to use <a href="http://motodev.space/">http://motodev.space/</a> if you do not agree to take all of the terms and conditions stated on this page.</p>
    </div>

    <div class="section">
        <h2>2. Cookies</h2>
        <p>We employ the use of cookies. By accessing <a href="http://motodev.space/">http://motodev.space/</a>, you agreed to use cookies in agreement with the MotoDev's Privacy Policy.</p>
    </div>

    <div class="section">
        <h2>3. License</h2>
        <p>Unless otherwise stated, MotoDev and/or its licensors own the intellectual property rights for all material on <a href="http://motodev.space/">http://motodev.space/</a>. All intellectual property rights are reserved. You may access this from <a href="http://motodev.space/">http://motodev.space/</a> for your own personal use subjected to restrictions set in these terms and conditions.</p>
    </div>

    <div class="section">
        <h2>4. GDPR Compliance</h2>
        <p>We are committed to ensuring the security and protection of the personal information that we process, and to provide a compliant and consistent approach to data protection. Our data protection policies and procedures adhere to the principles enshrined in the GDPR.</p>
        <p>Your data will be:</p>
        <ul>
            <li>Processed lawfully, fairly, and in a transparent manner.</li>
            <li>Collected for specified, explicit, and legitimate purposes and not further processed in a manner that is incompatible with those purposes.</li>
            <li>Accurate and kept up to date. Inaccurate data will be erased or rectified without delay.</li>
            <li>Kept in a form which permits identification of data subjects for no longer than is necessary.</li>
            <li>Processed in a manner that ensures appropriate security of the personal data.</li>
        </ul>
    </div>

    <div class="section">
        <h2>5. Contact Us</h2>
        <p>If you have any questions about these Terms and Conditions, please contact us:</p>
        <ul>
            <li>By email:<a href="mailto: rzgeorgiev&#64;outlook.com">rzgeorgiev&#64;outlook.com</a></li>
            <li>By visiting this page on our website: <a href="http://motodev.space/">http://motodev.space/</a></li>
            <li>By phone number:<a href="tel: +359899209870">+359899209870</a>  </li>
            <li>By mail:<a href="mailto: rzgeorgiev&#64;outlook.com">rzgeorgiev&#64;outlook.com</a></li>
            <li>By LinkedIn profile:<a href="https://www.linkedin.com/in/radoslav-georgiev-b53761194/"> Rado Georgiev</a></li>
            <li>By GitHub profile:<a href="https://github.com/rz-georgiev/"> GitHub</a></li>
        </ul>
    </div>

</mat-dialog-content>
<mat-dialog-actions>
=    <button mat-button (click)="onOkClick()">Ok</button>
</mat-dialog-actions>



   