<aside id="sidebar" class="sidebar">
  <ul class="sidebar-nav" id="sidebar-nav">

    <li *ngIf="this.authService.hasAnyOfTheRoles(['Owner'])" (click)="toggleTab('Dashboard')" class="nav-item">    
      <a class="nav-link " 
         [ngClass]=" {
        '': openedTabName == 'Dashboard',
        'collapsed': openedTabName != 'Dashboard'
     }"
      [routerLink]="['/mainScreen']"
      >
        <i class="bi bi-grid"></i>
        <span>Dashboard</span>
      </a>
    </li><!-- End Dashboard Nav -->


    <li *ngIf="this.authService.hasAnyOfTheRoles(['Owner'])" class="nav-heading">Main</li>

    <li *ngIf="this.authService.hasAnyOfTheRoles(['Owner'])" (click)="toggleTab('Users')" class="nav-item">
      <a class="nav-link" [class.collapsed]="openedTabName !== 'Users'" 
     [routerLink]="['/users']">
        <i class="bi bi-person"></i>
        <span>Users</span>
      </a>
    </li>

    <li *ngIf="this.authService.hasAnyOfTheRoles(['Owner'])" class="nav-heading">Clients</li>
      <li *ngIf="this.authService.hasAnyOfTheRoles(['Owner'])" class="nav-item">
        <a class="nav-link" [ngClass]="{
          'collapsed': openedTabName !== 'ClientsCars' && openedTabName !== 'RepairOrders' && openedTabName !== 'RepairOrdersDetails'
        }" data-bs-target="#forms-nav2" data-bs-toggle="collapse" href="#">
          <i class="bi bi-journal-text"></i><span>Clients Data</span><i class="bi bi-chevron-down ms-auto"></i>
        </a>
        <ul id="forms-nav2" class="nav-content collapse " data-bs-parent="#sidebar-nav">
          <!-- <li (click)="toggleTab('Cars')">
            <a class="nav-link" [class.collapsed]="openedTabName !== 'Cars'" [routerLink]="['/cars']">
              <i class="bi bi-circle"></i><span>Cars</span>
            </a>
          </li> -->
          <li *ngIf="this.authService.hasAnyOfTheRoles(['Owner'])" (click)="toggleTab('ClientsCars')" class="nav-item">
            <a class="nav-link" [class.collapsed]="openedTabName !== 'ClientsCars'" 
           [routerLink]="['/clientsCars']">
              <i class="bi bi-person"></i>
              <span>Clients Cars</span>
            </a>
          </li>

          <li *ngIf="this.authService.hasAnyOfTheRoles(['Owner'])" (click)="toggleTab('RepairOrders')" class="nav-item">
            <a class="nav-link" [class.collapsed]="openedTabName !== 'RepairOrders'" 
           [routerLink]="['/repairOrders']">
              <i class="bi bi-person"></i>
              <span>Repair Orders</span>
            </a>
          </li>

          <li *ngIf="this.authService.hasAnyOfTheRoles(['Owner'])" (click)="toggleTab('RepairOrdersDetails')" class="nav-item">
            <a class="nav-link" [class.collapsed]="openedTabName !== 'RepairOrdersDetails'" 
           [routerLink]="['/repairOrdersDetails']">
              <i class="bi bi-person"></i>
              <span>Orders Details</span>
            </a>
          </li>
          <!-- <li (click)="toggleTab('BaseData')">
            <a class="nav-link" [class.collapsed]="openedTabName !== 'BaseData'"  [routerLink]="['/baseData']">
              <i class="bi bi-circle"></i><span>Base data /readonly/</span>
            </a>
          </li> -->
        </ul>
      </li><!-- End Forms Nav -->

    



    <!-- <li (click)="toggleTab('Clients')" class="nav-item">
      <a class="nav-link" [class.collapsed]="openedTabName !== 'Clients'" 
     [routerLink]="['/clients']">
        <i class="bi bi-person"></i>
        <span>Clients</span>
      </a>
    </li> -->

    <li *ngIf="this.authService.hasAnyOfTheRoles(['Mechanic'])" (click)="toggleTab('Repairs')" class="nav-item">
      <a class="nav-link " [class.collapsed]="openedTabName !== 'Repairs'" [routerLink]="['/mechanicRepairs']">
        <i class="bi bi-person"></i>
        <span>Repairs</span>
      </a>
    </li>

    <!-- <li class="nav-heading">Budget</li>
    <li (click)="toggleTab('Statistics')" class="nav-item">
      <a class="nav-link" [class.collapsed]="openedTabName !== 'Statistics'" [routerLink]="['/statistics']">
        <i class="bi bi-person"></i>
        <span>Statistics</span>
      </a>
    </li> -->
    <li *ngIf="this.authService.hasAnyOfTheRoles(['Client'])" class="nav-heading">Tracking</li>
    <li *ngIf="this.authService.hasAnyOfTheRoles(['Client'])" (click)="toggleTab('RepairTracker')" class="nav-item">
      <a class="nav-link" [class.collapsed]="openedTabName !== 'RepairTracker'" [routerLink]="['/repairTracker']">
        <i class="bi bi-person"></i>
        <span>Track my repairs</span>
      </a>
    </li>
    @if (this.authService.hasAnyOfTheRoles(['Owner'])) {
      <li class="nav-heading">Other</li>
      <li class="nav-item">
        <a class="nav-link" [ngClass]="{
          'collapsed': openedTabName !== 'Cars' && openedTabName !== 'RepairShops' && openedTabName !== 'BaseData'
        }" data-bs-target="#forms-nav" data-bs-toggle="collapse" href="#">
          <i class="bi bi-journal-text"></i><span>Settings</span><i class="bi bi-chevron-down ms-auto"></i>
        </a>
        <ul id="forms-nav" class="nav-content collapse " data-bs-parent="#sidebar-nav">
          <!-- <li (click)="toggleTab('Cars')">
            <a class="nav-link" [class.collapsed]="openedTabName !== 'Cars'" [routerLink]="['/cars']">
              <i class="bi bi-circle"></i><span>Cars</span>
            </a>
          </li> -->
          <li (click)="toggleTab('RepairShops')">
            <a class="nav-link" [class.collapsed]="openedTabName !== 'RepairShops'" [routerLink]="['/repairShops']">
              <i class="bi bi-circle"></i><span>Repair Shops</span>
            </a>
          </li>
          <!-- <li (click)="toggleTab('BaseData')">
            <a class="nav-link" [class.collapsed]="openedTabName !== 'BaseData'"  [routerLink]="['/baseData']">
              <i class="bi bi-circle"></i><span>Base data /readonly/</span>
            </a>
          </li> -->
        </ul>
      </li><!-- End Forms Nav -->
    }

    <li (click)="toggleTab('About')" class="nav-item">
      <a class="nav-link" [class.collapsed]="openedTabName !== 'About'"  [routerLink]="['/about']">
        <i class="bi bi-person"></i>
        <span>About</span>
      </a>
    </li>
  </ul>

</aside><!-- End Sidebar-->