.mat-form-field {
    margin: 16px;
  }
  
  table {
    width: 100%;
  }

  .actions-cell {
    display: flex;
    align-items: center;
    justify-content: flex-start;
  }
  
  .action-icon {
    width: 24px;
    height: 24px; 
    margin-right: 15px;
    cursor: pointer;
  }
  
  .action-icon:last-child {
    margin-right: 0; 
  }

  .mat-mdc-row:hover {
    background-color: rgba(0, 0, 0, 0.07)
  }