.form-container {
    display: flex;
    flex-direction: column;
  }
  
  .full-width {
    width: 100%;
    margin-bottom: 16px;
  }
  
  mat-dialog-content {
    overflow-y: auto;
    max-height: 1500px; /* Adjust this as needed */
    padding: 0 24px;
  }
  
  mat-dialog-actions {
    justify-content: flex-end;
    padding: 8px 24px;
  }
