<h2 mat-dialog-title class="mat-dialog-title-custom">User Editor</h2>
<mat-dialog-content>
  <form [formGroup]="registerForm" class="row g-3 needs-validation" [ngClass]="{
    'was-validated': isSubmitted && registerForm.invalid,
    'novalidate': !isSubmitted
  }">

    <div class="col-md-4">
      <label for="firstName" class="form-label">First name</label>
      <input (input)="onNameChange()" type="text" class="form-control" id="firstName" formControlName="firstName"  required >
    </div>
    <div class="col-md-4">
      <label for="lastName" class="form-label">Last name</label>
      <input (input)="onNameChange()" type="text" class="form-control" id="lastName"  formControlName="lastName" required>
    </div>
    <div class="col-md-4">
      <label for="email" class="form-label">Email</label>
      <div class="input-group">
        <input type="text" class="form-control" id="email" formControlName="email" required>
      </div>
    </div>
    <div class="col-md-4">
      <label for="username" class="form-label">Username</label>
      <div class="input-group">
        <input type="text" class="form-control" id="username" formControlName="username" required>
      </div>
    </div>
    @if (!isInEditMode) {
      <div class="col-md-4">
        <label for="password" class="form-label">Password</label>
        <div class="input-group">
          <input [readOnly]="isClientRoleSelected" [type]="isClientRoleSelected ? 'text' : 'password'" class="form-control" id="password"  formControlName="password" required>
        </div>
      </div>
    }   
    <div class="col-md-4">
      <label for="phoneNumber" class="form-label">Phone number</label>
      <div class="input-group">
        <input type="text" class="form-control" id="phoneNumber"  formControlName="phoneNumber">
      </div>
    </div>
    
    <div class="col-md-4">
      <label for="repairShopId" class="form-label">Repair Shop</label>
      <select class="form-select" id="repairShopId" formControlName="repairShopId" required>
        <option selected disabled value="">Select below...</option>
        @for(shop of repairShops; track shop) {
          <option [ngValue]="shop.id">{{shop.name}}</option>
        }     
      </select>
    </div>
    @if ((isInEditMode && !isModifiedUserOwner) || !isInEditMode)
    {
      <div class="col-md-4">
        <label for="roleId" class="form-label">Role</label>
        <select (change)="onRoleChanged($event)" class="form-select" id="roleId" formControlName="roleId" required>
          <option selected disabled value="">Select below...</option>
          @for(role of roles; track role) {
            <option [ngValue]="role.id">{{role.name}}</option>
          }
        </select> 
      </div>
    }
    
    @if (errorMessage) {
      <div class="alert alert-danger" role="alert">
          {{errorMessage}}
      </div>
      }
  </form>
</mat-dialog-content>
<mat-dialog-actions>
  <button mat-button (click)="onNoClick()">Cancel</button>
  <button type="submit" mat-button (click)="onYesClick()">Save</button>
</mat-dialog-actions>

